<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sklep SZOP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <style>
        .navbar-brand {
            color: #000000;
            font-weight: bold;
        }
        .navbar-nav .nav-item .nav-link {
            color: #000000;
            font-weight: bold;
        }
        .navbar-nav .nav-item:hover .nav-link {
            background-color: #e9ecef;
        }
        .dropdown-item:hover{
            background-color: gray;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Strona główna</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kategorie
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li th:each="category : ${categories.get()}">
                            <a class="dropdown-item" th:href="@{/category/{category}(category=${category})}" th:text="${category}"></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kontakt</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item" th:if="${status == 'admin'}">
                    <a class="nav-link" href="/admin">Administrator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        Wyloguj się
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container my-5">
    <h1 class="text-center">Sklep komputerowy SZOP</h1>
    <br><br>
    <h2>Witaj <span th:text="${user.username}" />, co chcesz zrobić:</h2>

    <div class="row mt-5">
        <div class="col-sm-6 col-lg-3 mb-4">
            <a href="/admin/addNewProduct" class="card text-center text-decoration-none p-5 h-100">
                <h3 class="card-title">Dodaj przedmiot</h3>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 mb-4">
            <a href="/admin/deleteProduct" class="card text-center text-decoration-none p-5 h-100">
                <h3 class="card-title">Usuń przedmiot</h3>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 mb-4">
            <a href="/admin/editProduct" class="card text-center text-decoration-none p-5 h-100">
                <h3 class="card-title">Edytuj przedmiot</h3>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 mb-4">
            <a href="/api" class="card text-center text-decoration-none p-5 h-100">
                <h3 class="card-title">Administrator API</h3>
            </a>
        </div>
    </div>
</div>
</body>