<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sklep SZOP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <style>
        .navbar-brand {
            color: #000000;
            font-weight: bold;
        }
        .navbar-nav .nav-item .nav-link {
            color: #000000;
            font-weight: bold;
        }
        .navbar-nav .nav-item:hover .nav-link {
            background-color: #e9ecef;
        }
        .dropdown-item:hover{
            background-color: gray;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Strona główna</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kategorie
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li th:each="category : ${categories.get()}">
                            <a class="dropdown-item" th:href="@{/category/{category}(category=${category})}" th:text="${category}"></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kontakt</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Administrator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        Wyloguj się
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container my-5">
    <form th:action="@{/admin/editProduct/{id}(id=${product.id})}" th:object="${product}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="name">Nazwa:</label>
            <input type="text" class="form-control" id="name" name="name" required th:field="*{name}">
        </div>
        <div class="form-group">
            <label for="description">Opis:</label>
            <textarea class="form-control" id="description" name="description" rows="3" required th:field="*{description}"></textarea>
        </div>
        <div class="form-group">
            <label for="imageUrl">Adres URL zdjęcia:</label>
            <input type="text" class="form-control" id="imageUrl" name="imageUrl" required th:field="*{imageUrl}">
        </div>
        <div class="form-group">
            <label for="quantity">Ilość sztuk:</label>
            <input type="number" class="form-control" id="quantity" name="quantity" required th:field="*{quantity}">
        </div>
        <div class="form-group">
            <label for="price">Cena:</label>
            <input type="number" class="form-control" id="price" name="price" step="0.01" required th:field="*{price}">
        </div>
        <div class="form-group">
            <label for="category">Kategoria:</label>
            <input list="category_list" type="text" class="form-control" id="category" name="category" required th:field="*{category}">
            <datalist id="category_list">
                <option th:each="category : ${categories.get()}" th:value="${category}"/>
            </datalist>
        </div>
        <div class="form-group">
            <label for="manufacturer">Producent:</label>
            <input type="text" class="form-control" id="manufacturer" name="manufacturer" required th:field="*{manufacturer}">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
    </form>
</div>
</body>
</html>