<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sklep SZOP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <style>
        .navbar-brand {
            color: #000000;
            font-weight: bold;
        }
        .navbar-nav .nav-item .nav-link {
            color: #000000;
            font-weight: bold;
        }
        .navbar-nav .nav-item:hover .nav-link {
            background-color: #e9ecef;
        }
        .dropdown-item:hover{
            background-color: gray;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Strona główna</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kategorie
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li th:each="category : ${categories.get()}">
                            <a class="dropdown-item" th:href="@{/category/{category}(category=${category})}" th:text="${category}"></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kontakt</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item" >
                    <a class="nav-link" href="/admin">Administrator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        Wyloguj się
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container my-5">
    <h1 style="text-align: center;">Sklep komputerowy SZOP</h1>
    <br><br>
    <h2>Nasze produkty: </h2>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Zdjęcie</th>
            <th>Nazwa produktu</th>
            <th>Krótki opis</th>
            <th>Cena</th>
            <th>Ilość w magazynie</th>
            <th>Szczegóły</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${products}">
            <td th:txt="${product.id}"/>
            <td><img alt="photo" height="100" th:src="@{${product.imageUrl}}" width="100"></td>
            <td th:text="${product.name}" />
            <td th:text="${product.description}" />
            <td th:text="${product.price}" />
            <td th:text="${product.quantity}" />
            <td>
                <a class="myButton" th:href="@{/admin/editProduct/{id}(id=${product.id})}">
                    <button class="btn btn-outline-dark">Edytuj</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>